body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #91f094;
}

.container {
    margin: 0 auto;
    width:50%;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: inset;
    background-color: white;
}

h1 {
    text-align: center;
}

form {
    margin: 50px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

button:hover {
    background-color: #45a049;
}

#taskList {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: none;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: #020000;
    text-decoration:double
}

.footer a:hover {
    text-decoration: underline;
}


.footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.231);
}